<!--
Copyright 2017 Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License").
You may not use this file except in compliance with the License.
A copy of the License is located at

http://aws.amazon.com/apache2.0/
-->

<% title="Chat App" %>

<!doctype html>
<html lang="en"/>
  <head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css"/>

    <script type="text/javascript">
      function SelectItem(i) {
        document.getElementById("message_id").value = i;
      }
    </script>

  </head>

  <body>

    <h1><%= title %></h1>

    <!-- Every page shows the @msg, if it's not empty, in red. -->
    <% if @msg != '' %>

      <p>
        <span style="color:red"> <%= @msg %> </span>
      </p>

    <% end %>

    <!-- Dump all settings if @debug is true. -->

    <% if settings.debug %>

      <p>
        <b>Settings:</b>
      </p>

      <table class="posts">
        <tr>
          <td>username</td>
          <td><%= settings.username %></td>
        </tr>
        <tr>
          <td>email</td>
          <td><%= settings.email %></td>
        </tr>
        <tr>
          <td>password</td>
          <td><%= settings.password %></td>
        </tr>
        <tr>
          <td>code</td>
          <td><%= settings.code %></td>
        </tr>
        <tr>
          <td>token</td>
          <td><%= settings.token_short %></td>
        </tr>
        <tr>
          <td>status</td>
          <td><%= settings.status %></td>
        </tr>
        <tr>
          <td>item</td>
          <td><%= settings.item %></td>
        </tr>
      </table>

    <% end %>

    <!-- Every page shows the posts -->
    <div id="posts" width="90%">

      <% if @posts.any?() %>
        <select onchange="SelectItem(this.value);" name="ThePosts" size="10" >

          <% @posts.each do |post| %>
            <br>
            <option value= <%= post.timestamp %> >
              <%= post.time %>
            </option>
            <option disabled>
              <%= post.msg %>
        </option>
            <option disabled>
              &nbsp;
            </option>
          <% end %>
          <option selected disabled>
            &nbsp;
          </option>
        </select>
      <% end %>
    </div>

    <section>
      <%= yield %>
    </section>

  </body>
</html>
